body{
    font-family: 'Lato', sans-serif;
    
    padding: 0px;
    margin: 0px;
   
}
.container{
    width: 1500px;
    margin: auto;   
}
.row{
   
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px; 
}
header{
    margin-bottom: 90px;
    padding: 0px;    
}
header:hover{

    box-shadow: 0px 10px 9px rgb(221, 220, 220);
    
}

.header_logo{
    width: 25px;
    height: 25px;
    margin: 20px 10px;
}

.header_support{
    width: 80px;
    font-size: 28px;
    font-weight: 700;
    color: rgb(6, 6, 59);
    margin-top: 15px;
    margin-left: 0px;
     
}
.header_nav{
    margin: auto;
    margin-top: 25px;
    font-weight: 500;
    width: 50%;
    
}
.header_nav a{
     text-decoration: none;
     color: rgb(23, 43, 77);
     margin: 20px;
}
.header_nav a:hover{
    color: rgb(2, 112, 255);
}
.header_btn{
    width: 400px;
    padding: 10px;
    margin: auto;
    margin-left: 100px;
   
}
.header_btn a{
    text-decoration: none;
    font-size: 22px;
    margin-left: 60px;
    
}
.header_btn_one{
    
    color: rgb(6, 6, 59);

}
.header_btn_two{
    
    padding: 20px 5px;
    background-color: rgb(2, 112, 255);
    margin: 0px 20px;
    color: white;

}
.header_btn_two:hover{
    background-color: rgb(26, 88, 168);;
}

.fa-solid{
    font-size: 10px;
    margin-left: 3px;
}

/*start of sec_1*/


.sec_1_txt{
    margin: auto;
    width: 40%;
}
.sec_1_txt h2{
    font-size: 48px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color:rgb(9, 30, 66);
 
}
.sec_1_txt p{
    font-weight: 500;
    font-size: 20px;
    color:rgb(9, 30, 66);

}
.sec_1_pic{
    margin: auto;
    width: 40%;
    

}
#button_1{
    width: 60%;
    height: 40px;
    border-radius: 5px;
    border:1px solid rgb(207, 206, 206) ;
    color: rgb(163, 163, 163);
    font-size: 16px;
    padding-left: 10px;
    margin-top: 20px;
}

.sec_1_pic img{
    width: 60%;
    
}

.signup_btn{
    text-decoration: none;
    background-color: rgb(0, 101, 255);
    padding: 15px 20px;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
}
.signup_btn:hover{
    background-color: rgb(29, 82, 161);
}
.a_block{
    display: inline-block;
    margin-top: 30px;
    
    margin-left: 20px;
    color: rgb(51, 86, 243);
   
    
}
.fa-regular{
    padding: 0px 15px;
    padding-left: 8px;
    font-size: 25px;
    
    color: rgb(51, 86, 243);
    
}

.fa-regular:hover{
    margin-left: 5px;
}
.bottom_border{
    padding-bottom: 50px;     
  border-bottom: .5px solid rgb(211, 209, 209);
    
}
.about{
    height: 2000px;
    margin-top: 40px;
}
.about_1{
    margin-top: 20px;
    width: 30%;
}
.about_img{
  
   height: 300px;
}
.about_img img{
    width: 65px;
    margin-top: 20px;

}
.about_text{
    background-color: white;
    width: 60%;
    padding-left: 35px;
}
.about_text h3{
    width: 80%;
    font-size: 22px;
    padding-bottom: 0%;
    margin-bottom: 0%;
    
}

.about_text p{
    font-size: 16px;
    font-weight: 500;
    width: 90%;
    margin-bottom: 40px;
}

.about_button1{
    text-decoration: none;
    background-color: rgb(0, 101, 255);
    padding: 15px 20px;
    color: white;
    border-radius: 5px;
   
}
.about_button1:hover{
    background-color: rgb(29, 82, 161);
}